extends layout

block content
  h1= title
  p Welcome to ASCIIPE!


  video(autoplay)
  div
      img(src="", style="display:none")
  canvas(width="160", height="100", style="display:none")
  pre#ascii(style="font-family: 'Courier New', 'Courier', monospace;font-size: 10px; line-height: 10px;letter-spacing: -1.5px;text-align: center")

